#parent {
    border: 2px dotted grey;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #e8ecf6;
}

button{
    border: none;
    background-color: #cc005f;
    color: white;
    width: 200px;
    height: 40px;

}
button:hover{
   background-color: black;
   padding: 10px;
   

}