#main{
    border: 2px dotted grey;
    border-radius: 8px;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
}
h3{
    font-family: 'Poppins', sans-serif;
}
#name, #age, #place {
    height: 25px;
    outline: none;
    border: 1px solid grey;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Inter', sans-serif;

}
label {
    font-family: 'Inter', sans-serif;
   font-size: 14px;
}
select{
    height: 25px;
    outline: none;
    border: 1px solid grey;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

button{
    border: none;
    background-color: #cc005f;
    color: white;
    width: 200px;
    height: 25px;

}
button:hover{
   background-color: black;
   padding: 10px;
   height: 40px;

}